.navbar-lewagon {
    justify-content: space-between;
    background: #f7f5f5;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }

  .navbar-lewagon .navbar-brand {
    color:#777;
    font-size: 20px;
    line-height: 30px;
  }

  .nav-link {
    color:#777;
    font-size: 17px;
    text-decoration: none;
  }

